//--------Colours

$white: #fff;
$opc-white: rgba(255, 255, 255, 0.58);
$opc-white-light: rgba(255, 255, 255, 0.4);
$active: #818183;
$opc-grey-light: rgba(129, 129, 131, 0.36);
$opc-grey-lighter: rgba(129, 129, 131, 0.05);
$sr-red: #EA3235;
$sr-red-rgba: rgba(234, 50, 53, 0.7);
$sr-red-rgba--dk: rgba(234, 50, 53, 0.9);
$full-bk: #000;
$opc-bk: rgba(0, 0, 0, 0.6);

/*-----@media Query Sizes-----*/

$mobile-sm: 26em;
$mobile: 34em;
$desktop: 40em;
$desktop-lg: 60em;
$desktop-bg: 65em;
